
.app{
  border: 0px;
}

.main-content{
  display: flex;
}

.side-content{
  
  background-color: #f9f9f9;
}

.cuisine,
.filters{
  width: 200px;
  padding: 20px;
  
  border-right: ipx solid #ddd;
}

.cuisine label,
.filters label{
  display: block;
  margin-bottom: 5px;
}



